<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .avatar {
              vertical-align: middle;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
            .container{
              display: flex;
              height: 90vh;
              justify-content: center;
              flex-direction: column;
              padding: 10vh !important;
            }
      
            .row{
              min-height: 150px;
            }
          </style>
    </head>
    <body style="padding: 4vh;">
        <div class="shadow-lg container">
          <h2>
            Post using flask
          </h2>
          <p>{{reverse}}</p>
          <p>{{length}}</p>
          <p>{{upper}}</p>
        </div>
    </body>
</html>